<ion-view view-title="Dicionario" page="Dictionary" ng-controller="DictionaryCtrl as dc">
  <ion-content>
    <ion-list id="entries-list">

      <ion-item
        ng-repeat="e in dc.words track by $index"
        ng-click="dc.openEntry(e)"
        >
        {{e.entry}}
      </ion-item>

    </ion-list>

  </ion-content>

  <ion-list id="letter-picker">
    <ion-item ng-repeat="l in dc.letters track by $index"
      ng-click="dc.reloadEntries(l)"
      >
      <span>{{l | uppercase}}</span>
    </ion-item>
  </ion-list>
</ion-view>
