[page=Dictionary] {

  #entries-list {
    margin-right: 60px;

    .entry {

      margin-top: 8px;
      padding-bottom: 16px;

      border-bottom: 1px solid #CCC;



      div {
        display: block;
      }

      .title {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .meaning {
        line-height: 20px;
        display: block;
        word-wrap: normal;
        text-align: justify;
        color: #AAA;

      }
    }


  }

  #letter-picker {
    position: absolute;
    top: 44px;
    right: 0;
    width: 60px;
    height: 100%;
    overflow-y: scroll;

    ion-item {

      text-align: center;
      border-width: 0px !important;
      border-bottom-color: none;
      padding: 4px;

      span {
        color: white;
        display: block;

        background-color: $primary;
        height: 48px;
        width: 48px;
        line-height: 48px;

        border-radius: 50%;


      }
    }

  }

}
