[page=Dictionary] {
  .scroll {
  }

  #entries-list {
    margin-right: 60px;
  }

  #letter-picker {
    position: absolute;
    top: 44px;
    right: 0;
    width: 60px;
    height: 100%;
    overflow-y: scroll;

    ion-item {

      text-align: center;
      border-width: 0px !important;
      border-bottom-color: none;
      padding: 4px;

      span {
        color: white;
        display: block;

        background-color: $primary;
        height: 48px;
        width: 48px;
        line-height: 48px;

        border-radius: 50%;


      }
    }

  }

}
