[page=Search]{
  #entries-list {
    .header {
      // margin-top: 2px;
      padding-bottom: 5px;
      padding-top: 5px;
      border-bottom: 1px solid #CCC;
      border-top: 1px solid #CCC;
      background-color: rgb(63,81,181);
      color: white;
      font-weight: bold;
      div {
        display: block;
      }
    }

    .entry {
      margin-top: 8px;
      padding-bottom: 16px;
      border-bottom: 1px solid #CCC;
      div {
        display: block;
      }

      .title {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .meaning {
        line-height: 20px;
        display: block;
        word-wrap: normal;
        text-align: justify;
        color: #AAA;
      }
    }
  }
}
