<ion-view view-title="Busca" ng-controller="SearchCtrl as sc" page="Busca">
  <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Buscar" ng-keyup="sc.search()" ng-model="sc.entry">
  </label>
  </div>

  <div class="list" ng-if="sc.entry">
    <div class="item item-divider">
      Palavras encontradas
    </div>

    <a class="item" href="#/entry/{{entry.id}}" ng-repeat="entry in sc.entries">
      {{entry.entry}}
    </a>

  </div>
  </ion-content>
</ion-view>
