
  <!-- where the initial view template will be rendered -->
  <ion-view view-title="DicioMané" ng-controller="HomeCtrl as hc" page="Home">
    <!-- <ion-nav-title>
      <img src="logo.svg">
    </ion-nav-title> -->
    <ion-content>
      <md-card>
        <md-card-header>
          <md-card-header-text> Palavra do Dia </md-card-header-text>
        </md-card-header>

        <md-card-title>
          <md-card-title-text> <h2>{{hc.entry.entry}}</h2> </md-card-title-text>
        </md-card-title>

        <md-card-content>
          {{hc.entry.meaning}}
          <br />
          {{hc.entry.source}}
        </md-card-content>

        <md-card-actions  layout="row" layout-align="end center">
          <md-button ng-click="hc.openEntry(hc.entry)">Ler Mais</md-button>
        </md-card-actions>

      </md-card>

      <md-button class="md-raised md-primary" ng-click="hc.openDictionary()">Dicionário</md-button>
      <md-button class="md-raised md-primary" ng-click="hc.openSearch()">Busca</md-button>
      <md-button class="md-raised md-primary" ng-click="hc.openXingamentos()">Xingamentos</md-button>

    </ion-content>
  </ion-view>
