<!-- where the initial view template will be rendered -->
<ion-view title="{{pageTitle}}" ng-controller="HomeCtrl as hc" page="Home">
  <ion-content>
    <md-card style="box-shadow: none !important">
      <div class="item item-text-wrap" id="md-button-search" ng-click="hc.openSearch()">
        <i class="icon ion-search placeholder-icon"></i>Buscar um verbete ou significado
      </div>
    </md-card>
    <br/>
        
    <md-card>
      <md-card-header>
        <md-card-header-text> 
          <table>
            <tr><td>Palavra do Dia</td> 
                <td id="date">{{date_pt_br}}</td>
            </tr>
           </table>
        </md-card-header-text>
      </md-card-header>

      <md-card-title>
        <md-card-title-text> <h2>{{hc.entry.entry}}</h2> </md-card-title-text>
      </md-card-title>

      <md-card-content>
        {{hc.entry.meaning}}
      </md-card-content>
      <br/>
        
      <div class="item item-text-wrap md-button" ng-click="hc.openEntry(hc.entry)" style="color: #01579b">
        Ler Mais
      </div>
    </md-card>
    <br/>
        
    <md-card>
      <md-card-header>
        <md-card-header-text>
          Categorias
        </md-card-header-text>
      </md-card-header>
        
      <div class="row"> 
        <div class="col col-50">
          <md-button class="md-raised md-primary" ng-click="hc.openDictionary()" style="background-color: #dff7ff">
            <img class="png-icon" src="img/dicionario.png" style="width: 100%">
          </md-button>
        </div>
        <div class="col col-50">
          <md-button class="md-raised md-primary" ng-click="hc.openCategories(1)" style="background-color: #dff7ff">
            <img class="png-icon" src="img/fav.png" style="width: 100%">
          </md-button>
        </div>     
      </div>

      <div class="row"> 
        <div class="col col-50">
          <md-button class="md-raised md-primary" ng-click="hc.openCategories(2)" style="background-color: #dff7ff">
            <img class="png-icon" src="img/elogios.png" style="width: 100%">
          </md-button>
        </div>
        <div class="col col-50">
          <md-button class="md-raised md-primary" ng-click="hc.openCategories(3)" style="background-color: #dff7ff">
            <img class="png-icon" src="img/xingamentos.png" style="width: 100%">
          </md-button>
        </div>     
      </div>

      <div class="row"> 
        <div class="col col-50">
          <md-button class="md-raised md-primary" ng-click="hc.openCategories(4)" style="background-color: #dff7ff">
            <img class="png-icon" src="img/boteco.png" style="width: 100%">
          </md-button>
        </div>
        <div class="col col-50">
          <md-button class="md-raised md-primary" ng-click="hc.openCategories(5)" style="background-color: #dff7ff">
            <img class="png-icon" src="img/tradicoes.png" style="width: 100%">
          </md-button>
        </div>     
      </div>

      <div class="row"> 
        <div class="col col-50">
          <md-button class="md-raised md-primary" ng-click="hc.openCategories(6)" style="background-color: #dff7ff">
            <img class="png-icon" src="img/expressoes.png" style="width: 100%">
          </md-button>
        </div>
          <div class="col col-50">
            <md-button class="md-raised md-primary" ng-click="hc.openCategories(7)" style="background-color: #dff7ff">
              <img class="png-icon" src="img/inapropriado.png" style="width: 100%">
            </md-button>
          </div>     
      </div>
    </md-card>
    <br/>
        
    <md-card>
      <div class="item item-text-wrap md-button" ng-click="hc.openAbout()" style="color: #01579b">Sobre o Dicionário Manezês</div>
    </md-card>
    <br/>
        
  </ion-content>
</ion-view>